/* Global css rules */
.icon-btn {
  vertical-align: -0.125em;
  width: 14px;
  height: 14px;
}

a:not([class*='btn']) {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.nav-item a:hover {
  text-decoration: none;
}

/* Dark mode for table-danger and table-warning */
[data-bs-theme="dark"] .table-danger {
  --bs-table-color: #f8d7da;
  --bs-table-bg: #2c0b0e;
  --bs-table-border-color: #41171a;
  --bs-table-striped-bg: #331011;
  --bs-table-striped-color: #f8d7da;
  --bs-table-active-bg: #3a1114;
  --bs-table-active-color: #f8d7da;
  --bs-table-hover-bg: #371013;
  --bs-table-hover-color: #f8d7da;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

[data-bs-theme="dark"] .table-warning {
  --bs-table-color: #ffecb5;
  --bs-table-bg: #332701;
  --bs-table-border-color: #4d3d02;
  --bs-table-striped-bg: #3d2f01;
  --bs-table-striped-color: #ffecb5;
  --bs-table-active-bg: #473602;
  --bs-table-active-color: #ffecb5;
  --bs-table-hover-bg: #423201;
  --bs-table-hover-color: #ffecb5;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

/* Bootstrap 4 Print css removed in bootstrap 5 */
@media print {
  *,
  :after,
  :before {
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  pre {
    white-space: pre-wrap !important;
  }
  blockquote,
  pre {
    border: 1px solid #adb5bd;
  }
  blockquote,
  img,
  pre,
  tr {
    page-break-inside: avoid;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  @page {
    size: a3;
  }
  .container,
  body {
    min-width: 992px !important;
  }
  .navbar {
    display: none;
  }
  .badge {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered td,
  .table-bordered th {
    border: 1px solid #dee2e6 !important;
  }
  .table-dark {
    color: inherit;
  }
  .table-dark tbody + tbody,
  .table-dark td,
  .table-dark th,
  .table-dark thead th {
    border-color: #dee2e6;
  }
  .table .thead-dark th {
    color: inherit;
    border-color: #dee2e6;
  }
}
