/* Global css rules */
.icon-btn {
  vertical-align: -0.125em;
  width: 14px;
  height: 14px;
}

a:not([class*='btn']) {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.nav-item a:hover {
  text-decoration: none;
}
